.ax_default {
    font-family:'';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    letter-spacing:normal;
    color:#333333;
    vertical-align:none;
    text-align:center;
    line-height:normal;
    text-transform:none;
  }
  ._形状 {
  }
  .box_2 {
  }
  .box_3 {
  }
  .ellipse {
  }
  ._图片_ {
  }
  ._一级标题 {
    font-family:'';
    font-weight:bold;
    font-style:normal;
    font-size:32px;
    text-align:left;
  }
  ._二级标题 {
    font-family:'';
    font-weight:bold;
    font-style:normal;
    font-size:24px;
    text-align:left;
  }
  ._三级标题 {
    font-family:'';
    font-weight:bold;
    font-style:normal;
    font-size:18px;
    text-align:left;
  }
  ._四级标题 {
    font-family:'';
    font-weight:bold;
    font-style:normal;
    font-size:14px;
    text-align:left;
  }
  ._五级标题 {
    font-family:'';
    font-weight:bold;
    font-style:normal;
    text-align:left;
  }
  ._六级标题 {
    font-family:'';
    font-weight:bold;
    font-style:normal;
    font-size:10px;
    text-align:left;
  }
  .label {
    font-size:14px;
    text-align:left;
  }
  ._文本段落 {
    text-align:left;
  }
  ._表单提示 {
    color:#999999;
  }
  ._表单禁用 {
  }
  ._流程形状 {
  }
  ._默认样式 {
  }
  .image {
  }
  ._文本链接 {
    color:#0000FF;
  }
  ._鼠标按下文本链接时 {
  }
  .image1 {
  }
  .line {
  }
  .text_field {
    color:#000000;
    text-align:left;
  }
  .text_area {
    color:#000000;
    text-align:left;
  }
  .table_cell {
  }
  ._线段 {
  }
  ._连接 {
  }
  .form_hint {
    color:#999999;
  }
  .form_disabled {
  }
  ._文本段落1 {
    text-align:left;
  }
  .box_1 {
  }
  .font_awesome_5_pro {
    font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
    font-weight:900;
    font-style:normal;
  }
  ._图片_1 {
    font-family:'';
    font-weight:normal;
    font-style:normal;
    font-size:10px;
    color:#000000;
  }
  .icon {
  }
  .placeholder {
  }
  ._默认样式1 {
  }
  ._图片 {
    color:#000000;
  }
  .refs-chart-data {
    font-family:'';
    font-weight:400;
    font-style:normal;
  }
  ._图片1 {
    color:#000000;
  }
  textarea, select, input, button { outline: none; }.ax_default {
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._形状 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
._图片_ {
}
._一级标题 {
  font-family:'';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
._默认样式 {
}
.image {
}
._文本链接 {
  color:#0000FF;
}
._鼠标按下文本链接时 {
}
.image1 {
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.table_cell {
}
._线段 {
}
._连接 {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._文本段落1 {
  text-align:left;
}
.box_1 {
}
.font_awesome_5_pro {
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
}
._图片_1 {
  font-family:'';
  font-weight:normal;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
.icon {
}
.placeholder {
}
._默认样式1 {
}
._图片 {
  color:#000000;
}
.refs-chart-data {
  font-family:'';
  font-weight:400;
  font-style:normal;
}
._图片1 {
  color:#000000;
}
textarea, select, input, button { outline: none; }